<header [ngClass]="{
    'has-items' : (inputListItems | async)?.length
}">
@if((inputListItems | async)?.length){
    <h1>Lista de escolas</h1>
}
<div
[ngClass]="{
    'remove-margin-bottom' : (inputListItems | async)?.length
}"
>
    <label class="input-label-text" for="inpuValue"
    [ngClass]="{
        'remove-margin-bottom' : !(inputListItems | async)?.length
    }"
    >
        <input
         type="text"
         placeholder="Adione uma escola"
         id="inpuValue"
         autofocus
         (keyup.enter)="focusAndAddItem(inputText.value)"
         #inputText

        >
        <button
          class="btn btn-primary-circle"
          title="Adionar novo item"
          (click)="focusAndAddItem(inputText.value)"
          >
</button>
    </label>
</div>
</header>
