<div class="container">
  <p>{{idSchool}}</p>
  @if(!(class$ | async)?.length){

    <app-input-add-class
    [inputListItems]="class$"
    [idSchool]="idSchool"
    (outpuListAddItem)="getInputAndAddItem($event)"
    />


}@else{
  <app-input-add-class
    [inputListItems]="class$"
    [idSchool]="idSchool"
    (outpuListAddItem)="getInputAndAddItem($event)"
    />
  <main class="container">
    <app-input-list-class
    [inputListItems]="class$"
    (outputDeletItemText)="deletItemText($event)"

    />
  </main>
}
</div>
<footer>
  <button class="btn btn-danger"

  >
    Sou um Botão sem Função

  </button>
</footer>
