
@if(!(escolas$ | async)?.length){

<div class="container">
  <img
    src="https://w7.pngwing.com/pngs/645/931/png-transparent-check-list-todo-list-thumbnail.png"
    alt="sua lista esta vazia"
    width="150"
    loading="eager"
  />

  @if(addItem()){
  <button class="btn btn-primary" (click)="addItem.set(false)">
    Crie uma lista de Escolas
  </button>
  }@else{
  <app-input-add-item
    [inputListItems]="escolas$"
    (outpuListAddItem)="getInputAndAddItem($event)"
  />

  }
</div>
}@else{
<app-input-add-item
  [inputListItems]="escolas$"
  (outpuListAddItem)="getInputAndAddItem($event)"
/>
<main class="container">
  @if((escolas$ | async)){

  <h2>Escolas Cadastradas</h2>
  <app-input-list-school
  [inputListItems]="escolas$"
  (outputUpdateItemText)="updateItemText($event)"
  (outputDeletItemText)="deletItemText($event)"
  />

  }
</main>
<footer>

</footer>

}
