*{
    box-sizing: border-box;

}

html, body{
    height: 100%;

}

body{
    margin: 0;
    background: var(--black);
    font-family: Roboto, "Helvetica neue";

}

h1{
    font-size: 22px;
}

h2,h3{
    font-size: 14px;
}

h1,
h2,
h3, 
a{
   color: var(--white);
   text-decoration: none;
}

p{
    color: var(--grey);
    font-size: 16px;
    margin: 10px 0;

}

ul{
    list-style: none;
    margin: 0;
    padding: 0 ;
}

.selector {
    background-image: url('../../assets/img/task-list-null.png');
    height: 200px;
    background-repeat: no-repeat;
  }